<div class="disc-wrapper">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="header-title">All Posts</div>
        <div class="header-actions">
            <button type="button" (click)="askQuestion()">Create New Post</button>
        </div>
    </div>
    <ngx-filter></ngx-filter>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center" class="question"
        *ngFor="let post of posts">
        <div fxFlex="10%" fxLayout="column" fxLayoutAlign="center center" class="info">
            <div class="vote-count">
                {{post.likeCount - post.disLikeCount}} votes
            </div>
            <div class="ans-count">
                {{post.replyCount}} replies
            </div>
        </div>
        <div fxFlex="85%" class="content">
            <div class="title" (click)="goToDetails(post.postId)">{{post.subject}}</div>
            <div class="description">
                <div [innerHTML]="post.postDescription"></div>
            </div>
            <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="tag-group" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
                    <div class="tag" *ngFor="let tag of post.tags">
                        {{tag}}
                    </div>
                </div>
                <div class="user-info">
                    <div class="action-time">Asked {{post.createdOn | date:'medium'}}</div>
                    <div class="user-name">{{post.createdBy}}</div>
                </div>
            </div>
        </div>
    </div>
</div>