<div class="disc-wrapper">
    <ngx-filter></ngx-filter>
    <div class="question" *ngFor="let question of questions">
        <div class="count">
            {{question.ansCount}} Answers
        </div>
        <div class="content">
            <div class="title">{{question.title}}</div>
            <div class="description">{{question.description}}</div>
            <div class="bottom">
                <div class="tag-group">
                    <div class="tag" *ngFor="let tag of question.tags">
                        {{tag}}
                    </div>
                </div>
                <div class="user-info">
                    <div class="action-time">asked {{question.userInfo.createdOn}}</div>
                    <div class="user-name">{{question.userInfo.createdBy}}</div>
                </div>
            </div>
        </div>
    </div>
</div>