.details-wrapper {
  .header {
    margin-bottom: 15px;
    .title {
      color: #3c4146;
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
  .user-info {
    .action-time {
      color: #848d95;
      font-size: 12px;
    }
    .user-name {
      color: #0077cc;
      font-size: 13px;
    }
  }
  .tag-group {
    .tag {
      font-size: 12px;
    }
  }
  .thread-wrapper {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .comment-section {
    .editor textarea {
      width: 100%;
      height: 100px;
    }
    .actions {
      button {
        color: #fff;
        background-color: #0095ff;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
  }
}
.title-input {
  padding: 10px;
}
.post-section:last-of-type {
  border-bottom: 0;
}
