<div class="details-wrapper" *ngIf="post">
    <div class="header">
        <div class="title">{{post.subject}}</div>
        <div class="user-info" fxLayout="row" fxLayoutAlign="space-between">
            <div class="action-time">Asked {{post.createdOn | date:'medium'}}</div>
            <div class="user-name">{{post.createdBy}}</div>
        </div>
    </div>
    <div class="description">{{post.postDescription}}</div>
    <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="tag-group" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
            <div class="tag" *ngFor="let tag of post.tags">
                {{tag}}
            </div>
        </div>
    </div>
    <div class="thread-wrapper">
        <div class="thread-count">{{post.replyPosts.length}} Replies</div>
        <div class="post-section" *ngFor="let post of post.replyPosts">
            <ngx-post [parentPostId]="id" [thread]="post"></ngx-post>
        </div>
    </div>
    <div class="comment-section" fxLayout="column">
        <div class="comment-title">Your Answer</div>
        <div class="editor">
            <textarea [(ngModel)]="postDescription"></textarea>
        </div>
        <div class="actions">
            <button type="button" (click)="createPost()">Post Your Answer</button>
        </div>
    </div>
</div>