.details-wrapper {
    .header {
        margin-bottom: 15px;
        .title {
            color: #3c4146;
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .user-info {
        .action-time {
            color: #848d95;
            font-size: 12px;
        }
        .user-name {
            color: #0077cc;
            font-size: 13px;
        }
    }
    .tag-group {
        .tag {
            color: #2c5777;
            background-color: #d1e5f1;
            border-color: #00000000;
            display: inline-block;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            padding: 5px;
            font-size: 11px;
        }
    }
    .thread-wrapper {
        margin-top: 20px;
    }
    .thread {
        margin: 15px 0;
        padding: 15px 0;
        border-bottom: 1px solid #b1b1b1;
        .thread-count {
            margin: 15px 0;
        }
        .vote-count {
            font-size: 11px;
            text-align: center;
        }
        .thread-content {
            .thread-title {
                color: #0077cc;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
            }
            .user-info {
                .action-time {
                    color: #848d95;
                    font-size: 12px;
                }
                .user-name {
                    color: #0077cc;
                    font-size: 13px;
                }
            }
        }
    }
}