<div [class.dark-mode]="isDark" class="layout-wrapper" fxLayout="column">
  <div class="menu-wrapper" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center" class="full-wdith">
      <a fxFlex="30" [routerLink]="['/discussions']" class="home-link">Discussion Portal</a>
      <ng-container fxFlex="50" *ngIf="isLoggedIn">
        <div *ngFor="let item of menuItems">
          <a *ngIf="!item.adminSpecific || authService.isAdmin" [routerLink]="item.link" routerLinkActive="active"
            class="menu-link">{{item.name}}</a>
        </div>
      </ng-container>
      <!-- below button will help us change the theme at run-time. -->
      <button mat-raised-button color="primary" (click)="themeToggle()"
        matTooltip="Switch To {{(!this.isDark) ? 'Dark' : 'Light'}} Mode">
        {{theme}} Mode
        <mat-icon>
          brightness_6
        </mat-icon>
      </button>
    </div>
    <div *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewProfile()">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="component-outlet">
    <router-outlet></router-outlet>
  </div>
</div>