<div fxLayout="row" fxLayoutGap="30px" class="filter-wrapper">
  <mat-form-field appearance="fill">
    <mat-label>All tags</mat-label>
    <mat-select [(ngModel)]="selectedTags" multiple>
      <mat-select-trigger>
        {{selectedTags ? selectedTags[0] : ''}}
        <span *ngIf="selectedTags.length > 1" class="example-additional-selection">
          (+{{selectedTags.length - 1}} {{selectedTags?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="5px" class="options">
    <a class="option-link" (click)="sortByLatest()" [ngClass]="{'active': selectedOption == 1}">Latest</a>
    <a class="option-link" (click)="topPosts()" [ngClass]="{'active': selectedOption == 2}">Top</a>
    <a class="option-link" (click)="showByCategory()" [ngClass]="{'active': selectedOption == 3}">Categories</a>
  </div>
</div>