.filter-wrapper {
  .options {
    padding-bottom: 1.34375em;
    font-size: 16px;
  }
  .option-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-width: 90px;
    cursor: pointer;
  }
  .active {
    background: #3f51b5;
    color: white;
    font-size: 17px;
  }
}
