.post-wrapper {
  padding-bottom: 15px;
  .thread {
    padding: 15px 0;
    .vote-count {
      font-size: 11px;
      text-align: center;
    }
    .thread-content {
      .thread-title {
        color: #0077cc;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
      .user-info {
        .action-time {
          color: #848d95;
          font-size: 12px;
        }
        .user-name {
          color: #0077cc;
          font-size: 13px;
        }
      }
    }
  }
  .replies-wrapper {
    margin-left: 20px;
    .reply-btn {
      background: none;
      border: 0;
      font-size: 12px;
      color: #0077cc;
      outline: none;
      cursor: pointer;
    }
  }
  .post-section:last-of-type {
    border-bottom: 0;
  }
}

.title-input {
  padding: 10px;
}

.vote {
  height: 34px;
  width: 34px;
  cursor: pointer;
}

.up-vote {
  transform: rotate(270deg);
}

.down-vote {
  transform: rotate(90deg);
}

.up-vote,
.down-vote {
  font-size: 34px;
  height: 34px;
  width: 34px;
  color: #b1b1b1;
}
