<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
  Create User
  <mat-icon (click)="closeDialog()">close</mat-icon>
</div>
<div mat-dialog-content>
  <div [formGroup]="userForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error>Enter valid first name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error>Enter valid last name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error>Enter valid email</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveUserDetails()" [disabled]="!userForm.valid"> Create User
    </button>
  </div>
</div>