<mat-card class="ask-question">
  <div>
    <div fxLayout="column" fxLayoutGap="15px">
      <b>Title</b>
      <mat-form-field appearance="outline" class="full-width">
        <input type="text" [(ngModel)]="title" matInput fullWidth placeholder="Enter title">
      </mat-form-field>
      <b>Body</b>
      <div>
        <angular-editor [placeholder]="'Type here...'" [(ngModel)]="htmlContent"></angular-editor>
      </div>
      <b>Tags</b>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter atleast one tag</mat-label>
          <mat-chip-list #tagList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
              (removed)="remove(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Tag" #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="flex-end center">
        <button mat-raised-button (click)="cancel()" *ngIf="isEdit" fxFlex="20%">Cancel</button>
        <button mat-raised-button color="primary" (click)="postQuestion()" [fxFlex]="isEdit ? '20%' : '100%'"
          [disabled]="!title || !htmlContent || !tags || tags.length == 0">Submit</button>
      </div>
    </div>
  </div>
</mat-card>