<nb-card>
  <nb-card-body>
    <div fxLayout="column" fxLayoutGap="20px">
      <b>Title</b>
      <input type="text" [(ngModel)]="title" nbInput fullWidth placeholder="Enter title" fieldSize="large"
        class="title-input">
      <b>Body</b>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="htmlContent" [editable]="true" [placeholder]="'Type here...'" [outputFormat]="'html'"></ngx-editor>
      </div>
      <b>Tags</b>
      <div>
        <nb-form-field>
          <nb-tag-list (tagRemove)="onTagRemove($event)">
            <nb-tag *ngFor="let tag of tags" [text]="tag" status="primary" removable appearance="outline"></nb-tag>
            <input type="text" nbTagInput (tagAdd)="onTagAdd($event.value)" [nbAutocomplete]="autocomplete" fullWidth
            [disabled]="!title">
          </nb-tag-list>
        </nb-form-field>
        <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event)">
          <nb-option *ngFor="let option of options" [value]="option">{{ option }}</nb-option>
        </nb-autocomplete>
      </div>
      <button nbButton status="primary" type="button" (click)="postQuestion()">Post Question</button>
    </div>
  </nb-card-body>
</nb-card>