/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

angular-editor
  > .angular-editor
  > .angular-editor-wrapper
  > .angular-editor-textarea {
  min-height: 200px !important;
}

.tag-technology {
  color: #cc0000;
}
.tag-science {
  color: green;
}
.tag-general {
  color: blue;
}
.tag-history {
  color: violet;
}
.tag-untagged {
  color: #ab9364;
}
.tag-section-technology {
  border-left: solid 5px #cc0000;
}
.tag-section-science {
  border-left: solid 5px green;
}
.tag-section-general {
  border-left: solid 5px blue;
}
.tag-section-history {
  border-left: solid 5px violet;
}
.tag-section-untagged {
  border-left: solid 5px #ab9364;
}
.radio-label{
  .mat-radio-label{
      .mat-radio-label-content{
      font-weight: normal !important;
      }
  }
}

.radio-label{
  .mat-radio-label{
      .mat-radio-container{
        .mat-radio-outer-circle{
          border-color: #3f51b5;
      }
    }
  }
}

.radio-label{
  .mat-radio-label{
      .mat-radio-container{
        .mat-radio-inner-circle{
          background-color: #3f51b5;
      }
    }
  }
}