<div class="post-wrapper">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center" class="thread">
        <div fxFlex="10%" fxLayout="column" fxLayoutAlign="center center" class="info">
            <div class="vote" (click)="vote(true, thread.postId)">
                <nb-icon icon="arrow-up-outline" pack="eva"></nb-icon>
            </div>
            <div class="vote-count">
                {{thread.likeCount - thread.disLikeCount}} votes
            </div>
            <div class="vote" (click)="vote(false, thread.postId)">
                <nb-icon icon="arrow-down-outline" pack="eva"></nb-icon>
            </div>
        </div>
        <div fxFlex="85%" class="thread-content">
            <div class="thread-title">{{thread.subject}}</div>
            <div class="thread-description">
                <div [innerHTML]="thread.postDescription"></div>
            </div>
            <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="user-info">
                    <div class="action-time">Posted {{thread.createdOn | date:'medium'}}</div>
                    <div class="user-name">{{thread.createdBy}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="replies-wrapper" *ngIf="thread">
        <button class="reply-btn" type="button" (click)="toggle()">
            {{thread.replyPosts? (
            (thread.replyPosts.length == 1)? '1 Reply' : thread.replyPosts.length+' Replies'
            ): '0 Replies'}}
        </button>
        <button class="reply-btn" type="button" (click)="showEditor = !showEditor">Add a comment</button>
        <div *ngIf="showChildNodes && thread.replyPosts" class="replies">
            <div class="post-section" *ngFor="let post of thread.replyPosts">
                <ngx-post [parentPostId]="thread.postId" [thread]="post"></ngx-post>
            </div>
        </div>
        <div *ngIf="showEditor" class="editor-wrapper">
            <nb-card style="margin-top: 8px;">
                <nb-card-body>
                    <div fxLayout="column" fxLayoutGap="20px">
                        <b>Title</b>
                        <input type="text" [(ngModel)]="title" nbInput fullWidth placeholder="Enter title"
                            fieldSize="large" class="title-input">
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                            <ngx-editor [editor]="editor" [(ngModel)]="reply" [editable]="true"
                                [placeholder]="'Type here...'" [outputFormat]="'html'"></ngx-editor>
                        </div>
                        <button nbButton status="primary" type="button" (click)="replyQuestion()">
                            Post your comment
                        </button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>