<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center" class="thread">
    <div fxFlex="10%" fxLayout="column" fxLayoutAlign="center center" class="info">
        <div class="vote" (click)="vote(true, thread.id)">
            <nb-icon icon="arrow-up-outline" pack="eva"></nb-icon>
        </div>
        <div class="vote-count">
            {{thread.likeCount - thread.dislikeCount}} votes
        </div>
        <div class="vote" (click)="vote(false, thread.id)">
            <nb-icon icon="arrow-down-outline" pack="eva"></nb-icon>
        </div>
    </div>
    <div fxFlex="85%" class="thread-content">
        <div class="thread-title">{{thread.subject}}</div>
        <div class="thread-description">{{thread.postDescription}}</div>
        <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="user-info">
                <div class="action-time">posted on {{thread.createdOn | date:'medium'}}</div>
                <div class="user-name">by {{thread.createdBy}}</div>
            </div>
        </div>
    </div>
</div>