<div fxLayout="row" class="column-headers">
  <div fxFlex="85%"> Category </div>
  <div fxFlex="15%"> Posts </div>
</div>
<mat-divider></mat-divider>
<div fxLayout="column" fxLayoutAlign="center" *ngFor="let category of postsByCategory">
  <div fxLayout="row" fxLayoutAlign="center center" class="section tag-section-{{category.tag | lowercase}}">
    <div fxFlex="85%" fxLayout="column" fxLayoutGap="10px">
      <ng-container *ngIf="category.posts.length > 0; else emptyMsg">
        <div class="tag">{{category.tag}}</div>
        <div class="title"> {{category.posts[0]?.subject}} </div>
        <div [innerHTML]="category.posts[0]?.postDescription"> </div>
      </ng-container>
      <ng-template #emptyMsg>No posts yet</ng-template>
    </div>
    <div fxFlex="15%"> {{category.posts?.length}} </div>
  </div>
  <mat-divider></mat-divider>
</div>